@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
body { 
    justify-content: center; 
    align-items: center; 
    margin:0%; 
    text-align:center; 
    background:beige; 
}

.titulo {
 font-size:3em;
 font:bold 9.5vw/1.2 'Signika', sans-serif;
 user-select:none;
 margin-top: 0%;
 margin-bottom: 1%;
}

a:link{
    text-decoration:none; 
    color: #99CC00;
} /* Link no visitado*/
a:visited {
    text-decoration:none; 
    color:#99CC66
} /*Link visitado*/
a:active {
    text-decoration:none; 
    color:#99FF00; 
    background:#EEEEEE
} /*Link activo*/
a:hover {
    text-decoration:underline; 
    color:#99FF00; 
    background: #EEEEEE
} /*Mouse sobre el link*/

.titulo span { 
    display:inline-block; 
    animation:float .2s ease-in-out infinite; 
}
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

.titulo span:nth-child(2){ animation-delay:.05s; }
.titulo span:nth-child(3){ animation-delay:.1s; }
.titulo span:nth-child(4){ animation-delay:.15s; }
.titulo span:nth-child(5){ animation-delay:.2s; }
.titulo span:nth-child(6){ animation-delay:.25s; }
.titulo span:nth-child(7){ animation-delay:.3s; }
.titulo span:nth-child(8){ animation-delay:.35s; }
.titulo span:nth-child(9){ animation-delay:.4s; }
.titulo span:nth-child(10){ animation-delay:.45s; }
.titulo span:nth-child(11){ animation-delay:.5s; }
.titulo span:nth-child(12){ animation-delay:.55s; }
.titulo span:nth-child(13){ animation-delay:.6s; }
.titulo span:nth-child(14){ animation-delay:.65s; }

h1{
    background-color: rgb(37,36,41);
    color: white;
    text-align: center;
    width: 100%;    
}


.formularios{
    display: flex;
    justify-content: space-around;
}
.login{
    margin-left: 2%;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    max-width: 600px;
    height: fit-content;
    background-color:teal;
}
.login form input{
    width: 90%;
}

input{
	margin-left: 10px;
	text-decoration: none;
	color:black;
	margin: 0px;
	padding: 5px;
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}
input:hover{
	color:white;
	background-color: black;
	border: 2px solid white;
}
a{
    transition: 1.8s;
    width: fit-content;
    margin: 3px;
    cursor: pointer;
    border: 2px solid white;
    background-color: #fff;
    margin: 0px;
    text-decoration: none;    
    color: red;
    display: block;
    
}
a:hover{
    background-color: rgb(25, 143, 113);
    color: black;
    border: 5px solid powderblue;
}